.dropdown {
  position: relative;
  display: block;
}

.dropdownMenu {
  position: absolute;
  display: block;
  background-color: aliceblue;
  color: midnightblue;
}
.dropdownButton {
  margin-right: 18px;
  font-size: 16px;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.dropdownItems {
  padding: 4px;
  text-align: left;
}

.dropdownItems:hover {
  background-color: gainsboro;
}
