.profileContainer {
}

.profileWrapper {
  padding: 20px;
}

.profileTop {
  margin-bottom: 70px;
}

.profileCover {
  width: 100%;

  position: relative;

  /* height: 20%; */
}

.profileCoverImg {
  width: 100%;
  height: 200px;
  background-color: midnightblue;
}
.profileImg {
  margin-left: 43%;
  position: absolute;
  top: 16%;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid white;
}
.profileDetails {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.detailText {
  color: midnightblue;
  margin-right: 14px;
}
.memberDate {
  color: grey;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}

.profileBottom {
  /* padding: 20px; */
}
.nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  cursor: pointer;
}

.items {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

/* .items :hover {
  color: black;
} */

.watchlist {
  font-size: 20px;
  /* color: rgb(216, 74, 74); */
  color: midnightblue;
}

.profileIcon {
  font-size: 28px !important;
  color: midnightblue !important;
}
.horizontalProfileRow {
  color: gray;
  margin-bottom: 12px;
}

.headingText {
  margin: 20px 20px 0 20px;
}

.avgScore {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  /* padding: 20px; */
}
.verticalLine {
  border: 2px solid midnightblue;
}

.avgText {
  font-size: 20px;
}

.avgNumber {
  padding: 10px;
  font-size: 40px;
  /* border: 6px solid midnightblue; */
  border-radius: 50%;
  text-align: center;
  color: rgb(216, 74, 74);
  /* vertical-align: center; */
  /* width: 60px; */
}
.recentActivity {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recentButton {
  color: rgb(216, 74, 74) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
}
.recentActivityText {
  background-color: aliceblue;
  width: 70%;
  height: 5vh;
  padding: 8px;
  border: 20%;
}

.active {
  /* color: midnightblue; */
  color: rgb(216, 74, 74);
  background-color: transparent;
}
