.searchbarTop {
  padding: 20px 10px 10px 20px;

  display: flex;
  align-items: center;
}

.searchagainBar {
  width: 100%;
  padding: 4px;
  border: none;
  border-color: gray;
}

.searchagainBar:focus {
  outline: none;
}

.movielistContainers {
  display: flex;
  position: sticky;
  /* top: 50px; */
  padding: 20px;
  /* height: 100vh; */
}

.movielistLeft {
  flex: 1;
  display: block;
  /* padding: 20px; */
  list-style: none;
  background-color: antiquewhite;
  border-radius: 20px;
  margin-right: 20px;
  height: 50vh;
}

.searchtext {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(88, 118, 254);
  border-radius: 20px 20px 0 0;
  color: aliceblue;
  margin-bottom: 8px;
}

.movies {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.movies:hover {
  background-color: rgb(202, 202, 202);
}

.active {
  background-color: rgb(202, 202, 202);
}

.movietext {
  font-size: 20px;
  font-weight: medium;
  color: rgb(85, 85, 85);
}

/* .movietext:hover {
  color: aliceblue;
} */

.movieCount {
  font-size: 18px;
  /* font-weight: 200; */
  color: gray;

  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  padding: 8px;
}
.searchAgain {
  color: black;
}
