/* .movielistContainer {
  display: flex;
  position: sticky;
  top: 50px;
  padding: 20px;
  height: 100vh;
} */

.movielistRight {
  flex: 3;
  display: block;
  list-style: none;
  /* border-radius: 20px; */
  /* background-color: antiquewhite; */
  /* padding: 20px; */
  /* height: 50vh; */
}

.movieList {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background-color: aquamarine; */
  margin-bottom: 16px;
  border-radius: 10px;
  padding: 4px;
  /* -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.68);
}

.result {
  margin-bottom: 20px;
}

.resultMovie {
  margin-bottom: 2px;
}

.releaseDate {
  font-size: 14px;
  color: gray;
}

.movieOverview {
  font-weight: 400;
}
